:root {
    --primary-color: #1d3557; 
    --secondary-color: #457b9d;
    --accent1-color: #a8dadc;
    --accent2-color: #F1FAEE;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Kantumruy Pro", sans-serif;
}


header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

header img{
    grid-column: 2;
}


.navi {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.navi a:link{
    color: var(--accent2-color);
}

.navi a{
    flex: 1 1 auto;
}

.history-group {
    background-color: var(--accent2-color);
}

.history-group h2{
    text-align: center;
}


.history{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.history img{
    width: 200px;
    height: auto;
}


.adventure-group{
    background-color: var(--accent1-color);
}

.adventure-group h2{
    text-align: center;
}

.adventure{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adventure img{
    width: 140px;
    height: 80px;
}

.adventure figcaption{
    font-size: small;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}


header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img{
    width: 20px;
    height: auto;
}



.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.hero article img{
    float: right;
    margin: 1px;
    width: 80px;
}

.hero article {
    font-family: var(--body-font);
    position: absolute;
    align-self: center;
    width: 96%;
    top: 280px;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

footer {
    border-top: 1px dotted var(--primary-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    flex: 1 1 auto;
    text-align: center;
    margin: 30px;
    padding: 5px;
}

.socialmedia a {
    justify-content: right;
}