:root {
    --primary-color: #1d3557;
    --secondary-color: #457b9d;
    --accent1-color: #a8dadc;
    --accent2-color: #F1FAEE;
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Kantumruy Pro", sans-serif;
}


header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

header img {
    grid-column: 2;
}


.navi {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.navi a:link {
    color: var(--accent2-color);
}

.navi a {
    flex: 1 1 auto;
}

.history-group {
    background-color: var(--accent2-color);
}

.history-group h2 {
    text-align: center;
}


.history {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.history img {
    width: 200px;
    height: auto;
}


.adventure-group {
    background-color: var(--accent1-color);
}

.adventure-group h2 {
    text-align: center;
}

.adventure {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adventure img {
    width: 140px;
    height: 80px;
}

.adventure figcaption {
    font-size: small;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}


header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 20px;
    height: auto;
}



.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    margin: 1px;
    width: 80px;
}

.hero article {
    font-family: var(--body-font);
    position: absolute;
    align-self: center;
    width: 96%;
    top: 280px;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

footer {
    border-top: 1px dotted var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    flex: 1 1 auto;
    text-align: center;
    margin: 30px;
    padding: 5px;
}

.socialmedia a {
    justify-content: right;
}


.employees {
    text-align: center;
    background-color: var(--accent1-color);
    margin: 10px;
}

.employees-info {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.employees-info img {
    border: 1px solid var(--primary-color);
    width: 100px;
    height: 80%;
}


.employees figcaption {
    text-align: center;
}



.contact_info h2 {
    display: flex;
    justify-content: center;
}

.contact {
    margin: 5px;
    width: 60%;
    padding-left: 10px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: var(--accent2-color);
    border: 1px solid var(--primary-color);
}

.contact li {
    margin-left: 10px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 400px;
    height: 200px;

}



form {
    margin: 5px;
    width: 60%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}




form h2 {
    text-align: center;
}

form legend {
    text-align: center;
}


.fullname,
.customer-emails {
    padding-left: 10px;
    margin: 5px;
}

.customer-emails label {
    padding-left: 2px;
}

.customers-info input {
    width: 71%;
    height: auto;
}


.inquiry,
.question,
.suggestion {
    padding-left: 20px;
    margin: 7px;
}


form textarea {
    width: 100%;
}


.main_set {
    display: flex;
    flex-direction: row;
}


.trip_main {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic_trip {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


.trip_1 {
    margin: 3px;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--primary-color);
    background-color: var(--accent2-color);
}

.trip_2 {
    margin: 3px;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--primary-color);
    background-color: var(--accent2-color);
}

.trip_3 {
    margin: 3px;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--primary-color);
    background-color: var(--accent2-color);
}

.trip_main h1 {
    text-align: center;
}


.pic_trip p {
    text-align: left;
    margin: 0 3px 3px 3px;
    padding: 0 8px 8px 8px;

}

.pic_trip img {
    width: 100%;
    height: 50%;
}






.info_table {
    width: 60%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.info_table h1 {
    text-align: center;
}

.info_table table {
    height: 80%;
}


.table {

    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;

}



.table img {
    width: 200px;
    height: 125px;
}


thead {
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: var(--accent1-color);
}

tbody {
    background-color: var(--accent2-color);
    justify-self: center;
    align-self: center;
}


tr,
td {
    outline: 1px solid var(--primary-color);
}

.two_day,
.four_day,
.week_long {
    width: 200px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--accent2-color);
}


.two_day img {
    width: 160px;
    height: 100px;
}

.four_day img {
    width: 160px;
    height: 100px;
}

.week_long img {
    width: 160px;
    height: 100px;
}





.contact_link {
    margin-top: 10px;
    width: 80%;
    height: 5%;
    align-self: center;
}

.contact_link {
    display: inline-block;
    background-color: var(--accent1-color);
    outline: 4px solid var(--primary-color);
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.contact_link:hover {
    color: var(--accent2-color);
}


.home_page {
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
    grid-template-rows: repeat(7, 14.3%);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);
}





.home_hero img {
    display: block;
    width: 100%;
    height: 434px;
}


.home_hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}




.rapids_pic_set {
    grid-area: 3 / 2 / 6 / 4;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid var(--primary-color);
    background-color: var(--accent1-color);
}

.camp_grounds {
    grid-area: 3 / 5 / 6 / 7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid var(--primary-color);
    background-color: var(--accent1-color);
}



.rapids_pic_set img {
    width: 100%;
    height: 60%;
}

.camp_grounds img {
    width: 100%;
    height: 60%;
}


.camp_grounds p {
    text-align: center;
    width: 100%;
    height: 40%;
    padding: 0;
    margin: 0;
}

.rapids_pic_set p {
    text-align: center;
    width: 100%;
    height: 40%;
    padding: 0;
    margin: 0;
}



.new_letter {
    grid-area: 1 / 1 / 2 / 8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--accent2-color);
    outline: 2px solid var(--primary-color);
}

.sign_news {
    width: 100%;
}

.newsletter_name input {
    width: 60%;
}


.newsletter_email input {
    width: 60%;
}



.button_letter {
    justify-self: center;
}


.trips_grab {
    grid-area: 7 / 1 / 8 / 8;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--accent2-color);
    outline: 3px solid var(--primary-color);
    border-radius: 3px;
}

.trips_grab p {
    padding: 0;
    margin: 2px;
}

.trips_link {
    display: inline-block;
    background-color: var(--accent1-color);
    outline: 4px solid var(--primary-color);
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.trips_link:hover {
    color: var(--accent2-color);
}